*{margin:0;
padding:0;
}
/* tamaño de nestra caja "uno" */
#uno{
	width:650px;
	height:30px;

}
/* estilo a los li */
#uno li{
	list-style-type:none;
	background-color:#F06;
	width:100px;
	margin:8px;
	float:left;
	text-align:center;
	border: medium solid #333;
	height:50px;
}

/* estilo a las etiquetas a */
#uno a{
	font-family:Arial, Helvetica, sans-serif;
	text-transform:uppercase; /*colocamos todo mayuscula*/
	font-weight: bold;
	font-color:#000;
	display:block; /*los convertimos en bloques*/
	padding-bottom:0px;
	padding:15px 0px;
	}

	
#uno a:link{
	color:#000;
	text-decoration: none;
	} /*vinculos visitados*/
	
#uno a:visited {
	color:#FC0;
	}/*vinculos visitados*/
	
#uno a:hover {
	background-color:#F99;
	}/* mouse sobre*/
	
#uno a:active{
	color:#039;
	}/* vinculos activos*/

