*{
    margin: 0;
    padding:0;
}

body{
    width: 100%;
    height: 100%;
    background-color: #dfe4ea;
}

.contenedor{
    width: 80%;
    height: auto;
    margin: auto;
    background-color: #d1d8e0;
}

/*<--------Header---------->*/

header{
  width: 100%;
  height: 30%;
  background-image: url(../img/header.png);
  background-color: #a55eea;
  background-repeat: round;
}

#logo{
  width: 30%;
  padding: 2%;
  margin-left: 28%;
}

h1{
  display: none;
}

/*<--------Cierre Header---------->*/


/*<--------Inicio nav---------->*/

nav{
  width: 100%;
  height: 80px;
  background-color: white;
  display: flex;
  justify-content: center;
}

ul, li{
  list-style: none;
}

.nav > li {
  float: left;
}


.nav li a{
  background-color: white;
  color: #222f3e;
  text-decoration: none;
  padding: 20px 22px;
  display: block;
  text-transform: uppercase;
  font-size: 1em;
  font-weight: bold;
  font-family: sans-serif;
  letter-spacing: 0.2em;

  border-bottom-color: #5f27cd;
  border-bottom-style: solid;
  border-bottom-width: 5px;
}

.nav li a:hover{
  background-color: #5f27cd;
  color: white;
  border-bottom-color: white;
  border-bottom-style: solid;
  border-bottom-width: 5px;
}

.nav li ul{
  display: none;
  position: absolute;

}

.nav li:hover > ul{
  display: block;
}

.nav li ul li {
  position: relative;

}


/*<-----------Fin nav------------->*/
