*{
    margin: 0;
    padding:0;
    font-family: arial;
}

body{
    width: 100%;
    height: 100%;
    background-color: #dfe4ea;
}

.contenedor{
    width: 80%;
    height: auto;
    margin: auto;
    background-color: #d1d8e0;
}

/*<--------Header---------->*/

header{
  width: 100%;
  height: 30%;
  background-image: url(..\img\header.png);
  background-color: #a55eea;
  background-repeat: round;
}

#logo{
  width: 30%;
  padding: 2%;
  margin-left: 28%;
}

h1{
  display: none;
}

/*<--------Cierre Header---------->*/


/*<--------Inicio nav---------->*/

nav{
  width: 100%;
  height: auto;
  background-color: white;
}

nav ul{
  list-style: none;
  text-align: center;
}

nav ul a{
  text-decoration: none;
  display: inline-block;
  background-color: white;
  padding: 2%;
  width: 15%;
  height: 100%;
  color: #222f3e;
  text-transform: uppercase;
  font-size: 1.2em;
  font-weight: bold;
  font-family: sans-serif;
  letter-spacing: 0.2em;

  border-bottom-color: #5f27cd;
  border-bottom-style: solid;
  border-bottom-width: 5px;
}

nav ul a:hover{
  background-color: #5f27cd;
  color: white;
  border-bottom-color: white;
  border-bottom-style: solid;
  border-bottom-width: 5px;
}

/*<-----------Fin nav------------->*/




/*<-----------Section------------->*/


section{
    width: 100%;
    height: auto;
    background-color: white;
}

h2{
  background-color:#5f27cd;
  color: white;
  padding: 3%;
  margin-bottom: 20px;
  margin-top: 40px;
  text-align: center;
  font-family:sans-serif;
  font-weight: normal;
  text-transform: uppercase;
  font-size: 14pt;
  letter-spacing: 5px;
}

.texto_servicios{
  display: none;
}

.servicios{
    width: 30%;
    margin: 1%;
    display: inline-block;
}

.control_img{
  width: 100%;
  border-radius: 50%;
}

.eventos{
    width: 40%;
    height: 300px;
    text-align: center;
    background-color: lightgreen;
    display: inline-block;
    margin-top: 50px;
}


/*<--------Cierre Section---------->*/



/*<--------Inicio Aside---------->*/


.opiniones_facebook{
    width: 100%;
    height: auto;
    text-align: center;
    background-color: orange;
}

/*<--------Cierre Aside---------->*/


/*<--------Inicio Footer---------->*/

footer{
  width: 100%;
  height: 500px;
  background-color: #5f27cd;
}

.articulo_footer{
  width: 30%;
  height: 400px;
  display: inline-block;
}


/*<--------Fin footer---------->*/
